<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retime Tool - Mod Speedtools</title>
    <script src="../Controller/retime.js" async></script>
</head>
<body>
    <header>
        <a href="index.html">Mod Speedtools</a>
    </header><br>
    <form>
        <label for="">Start time (seconds)</label><br>
        <input id="startTimeInput" type="text"><br><br>
        <label for="endTimeInput">End time (seconds)</label><br>
        <input id="endTimeInput" type="text"><br><br>
        <button type="button" id="calculateButton">Calculate</button>
    </form>
    <p id="runTimeParagraph"></p>
</body>
</html>